﻿@model Chat

<h2><center>Chat name: @Model.Name</cente></h2>
<div class="chat-body">
    @if (Model != null)
    {
        <div style="margin: 20px">
            @foreach (var message in Model.Messages)
            {
                <div class="message">
                    <header>@message.Name:</header>
                    <p>@message.Text</p>
                    <footer>@message.Timestamp</footer>
                </div>
            }
        </div>
    }
</div>
<div class="chat-input">
    <form asp-controller="Home" asp-action="CreateMsg" onsubmit="sendMsg(event)">
        <input type="hidden" name="chatId" value="@Model.Id">
        <input type="hidden" name="roomName" value="@Model.Name">
        <input type="text" name="message" id="message-input">
        <button type="submit">Send</button>
    </form>
</div>

@section scripts {
    <script src="~/js/signalr.min.js"></script>
    <script src="~/js/axios.min.js"></script>

    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/chatHub")
            .build();


        connection.on("JoinRoom", function (data) {
            console.log(data + " test");
        });

        connection.on("ReceiveMsg", function (data) {
            console.log("ReceiveMsg Data: " + data);

            let msg = document.createElement("div");
            msg.classList.add("message");

            let header = document.createElement("header");
            header.appendChild(document.createTextNode(data.name + ": "));

            let p = document.createElement("p");
            p.appendChild(document.createTextNode(data.text));

            let footer = document.createElement("footer");
            footer.appendChild(document.createTextNode(new Date(data.timestamp).toLocaleDateString()));

            msg.appendChild(header);
            msg.appendChild(p);
            msg.appendChild(footer);


            document.querySelector('.chat-body').prepend(msg);
        });

        connection.start().then(function () {
            connection.invoke("GetConnectionId").then(function (connectionId) {
                console.log("connectionId: " + connectionId);

                axios.post("/Chat/JoinRoom/" + connectionId + "/@Model.Name", null).then(res => {
                    console.log("Room Joined ", res);
                }).catch(err => {
                    console.error("Failde to join ", res);
                });
            });
        }).catch(function (err) {
            console.log("error: " + err);
        })


        let sendMsg = function (event) {
            event.preventDefault();
            let data = new FormData(event.target);

            axios.post('/Chat/SendMessage', data).then(res => {
                console.log("Message Sent!");
            }).catch(err => {
                console.log("Failed to send message!")
            });
        }


    </script>
}

