﻿@model IEnumerable<User>

<div style="margin: 20px; text-align:center">
    @foreach (var user in Model)
    {
        <div>
            <a asp-controller="Home" asp-action="CreatePrivateRoom" asp-route-userId="@user.Id">
                @user.UserName.ToUpper()
            </a>
        </div>
    }
</div>