﻿@model IEnumerable<Chat>

<div class="chat-body">
    <center><h2>Rooms</h2></center>
    @if (Model != null)
    {
        @foreach (var chat in Model)
        {
            <a class="room-button"
               asp-controller="Home"
               asp-action="Chat"
               asp-route-id="@chat.Id">
                @chat.Name
            </a>
        }
    }
</div>