﻿@model IEnumerable<Chat>
@*@{
        var userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
    }*@

<div style="margin: 20px; text-align:center">
    @foreach (var chat in Model)
    {
        <div>
            <a asp-controller="Home" asp-action="JoinPrivate" asp-route-userId="@chat.Id">
                @chat.Id
            </a>
        </div>
    }
</div>