﻿<div style="margin: 40px">
    <div>
        <h2>Login</h2>
        <form asp-controller="Account" asp-action="Login">
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <button type="submit">Submit</button>
        </form>
    </div>
    <div>
        <a asp-controller="Account" asp-action="Register">Register</a>
    </div>
</div>