﻿<div style="margin: 40px">
    <div>
        <h2>Register</h2>
        <form asp-controller="Account" asp-action="Register">
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <button type="submit">Submit</button>
        </form>
    </div>
</div>